<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627969346271-fubnioorf7u4jo31oipejnj9eavt1vme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627969346271-fubnioorf7u4jo31oipejnj9eavt1vme</string>
	<key>API_KEY</key>
	<string>AIzaSyDfr5n_MZNgw650LkELvW91et847WztWwk</string>
	<key>GCM_SENDER_ID</key>
	<string>627969346271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swetajain.assignmentDecFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-47eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-47eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627969346271:ios:0a4de0c1ee15b741a5376a</string>
</dict>
</plist>